<%- javascript_tag do -%> 
<%= "var availableTags = [" -%><%- @bodies.each do |b| -%>'<%= escape_javascript(h(b.body)) -%>', <%- end -%><%= "''];" -%>
<%- end -%>

<div id="main_div">
<%= render :partial => 'main' %>
</div>
<div style="clear:both"></div>