
<div id="slider" style="clear:both;">
	<div class="slides_container">
		<div class="slides">
			<div><a href="/account/new" class="clean"><img src="http://static.indrode.com/5things/images/intro_a.png" width="960" height="238" alt="" class="clean" /></a></div>
			<div><a href="/account/new" class="clean"><img src="http://static.indrode.com/5things/images/intro_b.png" width="960" height="238" alt="" class="clean" /></a></div>
		</div>
	</div>
</div>
	

	</div>
</div>



<div id="outside_copy">

	<div class="container">
		<div id="leftcol">
			<h3><img src="http://static.indrode.com/5things/images/accessories-text-editor.png" width="32" height="32" alt="" class="introicon" />Flexibility</h3>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; 5things allows full flexibility managing the "things" you need to get done. Use it as your daily to-do list, as an events calendar, or for managing a project. The possibilities are endless.</p>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; Add, edit, sort, move, and remove items. Add as many items you wish, for any date. Simply check off tasks that you have completed.</p>	
		</div>
  	
		<div id="centercol">
			<h3><img src="http://static.indrode.com/5things/images/preferences-desktop-theme.png" width="32" height="32" alt="" class="introicon" />Simplicity</h3>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; 5things was built with simplicity in mind. Just drag and drop an item to its new location. Drag an item to the top or bottom area of the page to delete it.</p>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; No bloated feature set. Just the right amount of functions. Anything you really want to see added to 5things? Just send a feature request and it may be implemented sooner than you expect.</p>
		</div>
  	
		<div id="rightcol">
			<h3><img src="http://static.indrode.com/5things/images/preferences-desktop-keyboard-shortcuts.png" width="32" height="32" alt="" class="introicon" />Advanced Features</h3>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; Create custom formatted to-do lists which you can save as PDF files for easy viewing and printing. Or have 5things sent them to your email address (or any other email address you specify).</p>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; Export all of your task to various different formats, including iCalendar (ics), Excel (xls), and CSV files.</p>
			<p class="intro"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; 5things is fully localized in English and German. </p>
		</div>
	

	<div style="clear:both;"></div>
	


</div>

	<div class="container">
		
		<div id="links"><img src="http://static.indrode.com/5things/images/facebook.png" class="linksicon" alt="" /> Facebook <a href="https://twitter.com/5thingsapp"><img src="http://static.indrode.com/5things/images/twitter.png" class="linksicon" alt="" /> Follow on Twitter</a> <img src="http://static.indrode.com/5things/images/wordpress.png" class="linksicon" alt="" /> 5things Blog <a href="http://twitter.com/statuses/user_timeline/122287859.rss"><img src="http://static.indrode.com/5things/images/feed.png" class="linksicon" alt="" /> Subscribe to Feed</a></div>
		
	</div>
	<div style="clear:both;"></div>

	