
@font-face {
font-family: "titillium";
src: url("/fonts/TitilliumText20L001.otf");
}

@font-face {
font-family: "Nevis";
src: url("/fonts/nevis.ttf");
}

* {
	margin:0;
	padding:0;
}			

* :focus { outline: 0; }

body {
	font-family:Helvetica, Arial, sans-serif;
	background-color:#b3bdc6;
	border-top:10px solid #000;
	font-size:12px;
	color:#000000;

	overflow-y: scroll;		/* force scrollbars */
	_overflow:visible;		/* IE hack */
	
	width: 100%; 
	height: 100%;
	
}

/* http://blog.urbanmainframe.com/2009/05/create-a-dynamically-resizing-background-image-using-css/ */
#bg_image { position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;}
/* next div removed from layout; caused sortable error */
#scrollable { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 2; border-top:10px solid #000; }


a {
	color:#980905;
}

h1 {
	font-family:Helvetica, Arial, sans-serif;	
	font-size:16px;
	padding:20px 0 5px 0;
}

h1.formheader {
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	padding:20px 0 0 10px;

}

h1.outside {
	float:right;
	font-weight:bold;
	padding:0;
	font-size:40px;
	margin-top:100px;
	font-variant:normal;
	color:#000;
}

img.h1icon {
	margin-right:10px;
}



h2 {
	padding:5px;
	font-size:13px;
	text-align:right;
	color:#606060;
	border-bottom:2px solid #999;
}

h2.status {
	float:right;
	margin-right:-195px;
	position:relative;
	top:80px;
	text-align:right;
	border:none;
	font-weight:normal;
	color:#000;
	line-height:20px;
}

h2.status a {
	color:#000;
	font-size:18px;
	border:none;
	font-weight:bold;
	text-decoration:none;
}

span#today_status {
	font-size:13px;
}

h2.grid {
	text-align:left;
	font-size:22px;
	border:none;
	color:#000;
}

h2 span {
	font-size:19px;
}

h2.black {
	color:#000;
}

h3 {
	font-size:22px;
	font-weight:bold;
	margin:10px 0;
}


h3.landing {
	float:right;
	font-family:Georgia;
	padding:0;
	font-size:16px;
	margin-top:100px;
	font-variant:normal;
	color:#777;
	font-style: italic;
	border:none;
	text-align:right;
}

h3 span {
	font-style:normal;
	font-variant: small-caps;
	color:#444;	
}

p {
	line-height:1.3em;
	font-size:14px;
	padding:5px 0;
}

p.small {
	font-size:12px;
	margin:0 0 20px 0;
}

img.right {
	float:right;
	padding:5px;
	margin-left:10px;
	border:1px solid #000;
	box-shadow: 2px 2px 2px #999; 
	-webkit-box-shadow: 2px 2px 2px #999; 
	-moz-box-shadow: 2px 2px 2px #999;
}

#container_bg {
	border-top:1px solid #666;
}

#container {
	margin:0 auto;
	width:960px;
}

.container{
	clear:both;
	width:960px;
	margin:0 auto;
}

#footer {
	clear:both;
	text-align:center;
	width:960px;
	margin:30px auto 0 auto;
	padding:5px 20px;
	height:140px;
}



#footer p {
	color:#666;
	font-size:11px;
}

#footer a {
	color:#444;
	text-decoration:none;
}

#footer a:hover {
	color:#000;
	border-bottom:1px solid #000;
}


#footer2 {
	border-top:5px solid #a6c34e;	
	background-color:#000;
	padding-top:10px;
	height:50px;
}

#footer2 p {
	color:#bbb;
	font-size:11px;
}

#footer2 a {
	color:#ccc;
	text-decoration:none;
}

#footer2 a:hover {
	color:#fff;
	border-bottom:1px solid #000;
}

/* slide for outside web site*/

.slides_container { width:100%; height:238px; overflow:hidden; position:relative; cursor:pointer; }
.slides { position:absolute; top:0; left:0; }
.slides div { position:absolute; top:0; width:960px; display:none; }


#outside_copy {
	margin-top:40px;
	padding:30px 0;
	min-height:100px;
	clear:both;
	background-color:#dedddc;
	background-image:url("http://static.indrode.com/5things/images/gradient_intro.png");
	background-repeat:repeat-x;
	border-top:1px solid #909090;
	border-bottom:1px solid #666;
}

#links {
	text-align:center; font-size:17px; border-top:2px solid #888; border-bottom:2px solid #888; padding:1em 0; margin:2em 0 1em 0;
}

#links a {
	color:#000;
	text-decoration:none;
	border:none;
}

#links a:hover {
	color:#444;
}

img.linksicon {
	margin-left:20px;
	vertical-align:middle;
	text-decoration:none;
	border:none;
}

/* 3 column layout */

#leftcol, #centercol, #rightcol {
	width:33%;
}

#leftcol {
	float:left;
}

#centercol {
	float:left;
}

#rightcol {
	float:right;
}

p.intro {
	padding:10px 35px 10px 0;
	font-size:14px;
	line-height:1.6em;
	margin:0;
}

#rightcol p.intro {
	padding-right:10px;
}

#logo {
	color:#ccc;
}


.toolbox {
	clear:both; 
	padding:40px 0; 
	display:none; 
	background-color:#666; 
	background-image:url("http://static.indrode.com/5things/images/gradient_toolbox.png"); 
	background-repeat:repeat-x;
	border-top:1px solid #bbb;
}

/* code */

code {
  font-size: 0.9em;
  background: #f0f0f0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}


/* header and footer areas are the "kill" areas */

#headerarea {
	width:960px;
	height:170px;
}

#footerarea {
	clear:both; 
	margin-top:40px;
	height:120px;
	border-bottom:1px solid #666;
}

#introarea {
	display:none;
	margin:0 30px;
	width:880px;
	background-color:#eee;
	padding:10px;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999; 
	-webkit-box-shadow: 2px 2px 2px #999; 
	-moz-box-shadow: 2px 2px 2px #999;
}

#alert_space {
	padding:10px 0 10px 0;
	background-color:#980905;
}

#flash_space {
	padding:10px 0 5px 0;
	background-color:#a6c34e;
	background-image:url("http://static.indrode.com/5things/images/gradient_flash.png");
	background-repeat:repeat-x;
}

#flash_notice {
	color:#fff;
	font-weight:bold;
	font-size:13px;
	margin:0 auto;
	width:960px;
	text-shadow: 2px 2px 2px #777; 
	-webkit-text-shadow: 2px 2px 2px #777; 
	-moz-text-shadow: 2px 2px 2px #777;
}

#flash_notice a {
	font-weight:normal;
	color:#fff;
}

#helparea {
	padding:10px 30px 0 30px;
	width:890px;
	display:none;
}

#formarea {	
	padding:10px 30px 0 30px;
	height:60px;
	width:890px;
}

.transparent {
background-image:url("http://static.indrode.com/5things/images/transparent.png");
}

#login_links {
	float:right;
	margin-top:-22px;
	margin-right:205px;
	font-size:12px;
	color:#222;
}


#navline {
	height:40px;
}

#navleft {
	float:left;
	margin-left:10px;
	width:200px;
}

#navright {
	width:200px;
	float:right;
	text-align:right;
	padding-right:15px;
}

#navleft a, #navright a {
	font-size:26px;
	text-decoration:none;
	color:#fff;
	text-shadow: 2px 2px 2px #000; 
	-webkit-text-shadow: 2px 2px 2px #000; 
	-moz-text-shadow: 2px 2px 2px #000;
	font-weight:bold;
}

#navleft a:hover, #navright a:hover {
	color:#ffff00;
}

#user_nav {
	background-color:#000;
}


p.large {
	font-size:22px;
	text-decoration:none;
	color:#333;
	margin-bottom:20px;
}

.user_container {
	margin:0 auto;
	width:960px;
}

.view_container {
	margin:0 auto;
	width:960px;	
}

#user_nav p {
	text-align:right;
	margin:0;
	color:#fff;
	padding:0 0 10px 0;
	font-size:13px;
}

#user_nav p a {
	color:#fff;
	text-decoration:none;
}

#user_nav p a:hover {
	border-bottom:3px solid #a6c34e;	
}

#previous {
	float:left;
}
#next {
	float:right;
}

ul {
	list-style-type: none; 
	padding: 0; 
	float: left; 
	background-image:url("http://static.indrode.com/5things/images/transparent.png");	 
	padding: 5px;	
}

/* task bins */
ul#unassigned_list, ul#yesterday_list, ul#today_list, ul#tomorrow_list { 
	min-height:270px;
	width:210px;
	
	xborder: 1px solid #888;
	
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	box-shadow: 2px 2px 2px #222; 
	-webkit-box-shadow: 2px 2px 2px #222; 
	-moz-box-shadow: 2px 2px 2px #222;
	border:1px solid #b0b0b0;	

}

.unassigned {
	background-color:#888;
	margin-right:10px;
}

.day {
	margin:0 10px;
}
			
li { 
	margin: 5px; 
	padding: 5px; 
	font-size: 12px;
}

ul#unassigned_list li, ul#yesterday_list li, ul#today_list li, ul#tomorrow_list li{
	font-size:12px;
	font-weight:normal;		/* <----------- check font size/weight */
}

#taskinfo {
	width:830px;
	display:block;
	clear:both;
}

#tasklist li {
	font-size:14px;
}

.check {
	float:right;
}


/* share list */

li.sharelist {
	font-family:Georgia;font-size:20px; color:#000; padding:10px; background-color:#eee;
}

.strike {
	text-decoration: line-through;
}

p.share_description {
	text-align:right;
	float:right;
	margin-top:50px;
	width:500px;
	font-size:12px;
}


.share_checked {
	float:right; 
	width:40px; 
	background-color:#e0e0e0;
	border:1px solid #000; 
	text-align:center;
}



.watermarkOn {
	color:#b0b0b0;
	font-style: italic;
}

input.date {
	width:1px;
	height:1px;
	visibility:hidden;
	border:1px solid #000;
}

small {
	font-size:9px;
	color:#aaa;
	font-weight:normal;
}

.checked {
	background-color:#444;
}

.inline {
	display:inline;
}

.forgot {
	padding-left:70px;
}

.errorExplanation:first-letter {
	text-transform:uppercase;
}

.errorExplanation ul {
	padding:0;
	margin:0;
	background:none;
	width:100%;
}

.errorExplanation li {
	color:#000;
	height:32px;
	background-image:url("http://static.indrode.com/5things/images/dialog-error.png");
	background-repeat:no-repeat;
	margin:0;
	padding-top:10px;
	padding-left:40px;
	font-weight:bold;
	font-size:12px;
}


/* ------------------- */

#view_nav{
	background:#222;
	padding:20px 10px;
	padding:5px 10px;
	display:none;
	font-size:20px;
	color:#fff;
	background-image:url("http://static.indrode.com/5things/images/bg-header.gif");
	background-repeat:repeat-x;
	height:60px;
}

#view_nav p {
	font-family:"titillium",Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:0;
	margin:0;
}

#view_nav a {
	text-decoration:none;
	border:none;
	color:#eee;
	padding:5px 5px 3px;
	font-weight:normal;
}

#view_nav a:hover {
	color:#fff;
	border-bottom:3px solid #444;
}

#showhide_button{
	border-top:5px solid #a6c34e;	
}

.container_standard {
	margin:0 auto;
	width:890px;	
}

#showhide_button a.togglebutton{
	width:200px;
	float:right;
	xfont-size:16px;
	xcolor:#fff;
	xmargin-right:10px;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}

.toggle {
	vertical-align:middle;
	margin-right:5px;
}

#toggle {
	outline: none;
}

#slider {
}

.edit-form {
	border:1px solid #444;
}

/* hide an element */
.removed {
	display:none;
}

.ui-state-checked {
	background-color:#d8d8d8;
	border: 1px solid #cccccc; 
	background-image:url("http://static.indrode.com/5things/images/tick.png");
	background-position:175px;
	padding-right:26px;
	background-repeat:no-repeat;
	font-weight: bold; 
	color: #888;
	outline: none;
	border-top:1px solid #999;
	border-left:1px solid #999;
}


li.ui-state-checked, li.ui-state-default {
	cursor: move;
}




/* standard form styles */

.formarea {
	width:38em;
	margin:20px auto;
}

.formarea_left {
	float:left;
	width:565px;
	width:550px;
}

.formarea_right {
	float:right;
	width:365px;
	width:330px;
	
}


fieldset {    
	float: left;    
	clear: both;    
	width: 100%;   
	margin: 0 0 2.5em 0;    
	padding: 0;    
	border: 1px solid #787878;
	xborder:none; 	
	
	/*
	background-image:url("http://static.indrode.com/5things/images/transparent.png");
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	box-shadow: 2px 2px 2px #222; 
	-webkit-box-shadow: 2px 2px 2px #222; 
	-moz-box-shadow: 2px 2px 2px #222; 
	*/ 
}

fieldset.info {
	background-color:#F5EDAE;
}

fieldset li p{
	padding:0;	
}

fieldset li hr {
	margin-right:10px;
	heigh:1px;
}

fieldset p {
	font-size:12px;
}

legend {  
	margin-left: 1em;  
	color: #000000;  
	font-weight: bold;  
	font-size:1.2em;
}  

fieldset ol {  
	padding: 1em 1em 0 1em;  
	list-style: none;  
}
  
fieldset li {    
	float: left;    
	clear: left;    
	width: 100%;
	margin:0;    
	padding-bottom: 10px;  
}


label {    
	float: left;    
	width: 12em;    
	margin-right: 1em;    
	text-align: right;
	margin-top:4px;			/* align label with form field */ 
}


/* BUTTONS */


.buttons a, .buttons button{
	display:block;
	float:right;
	margin:0 7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #bbb;
	border-top:1px solid #a0a0a0;
	border-left:1px solid #a0a0a0;
	
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px;
	
	box-shadow: 2px 2px 2px #555; 
	-webkit-box-shadow: 2px 2px 2px #555; 
	-moz-box-shadow: 2px 2px 2px #555;
	
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px; 
}

.buttons button{
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button[type]{
  padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}

.buttons a:active{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
	color:#529214;
}

.buttons a.positive:hover, button.positive:hover{
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}
.buttons a.positive:active{
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
	color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
	background:#fbe3e4;
	border:1px solid #fbc2c4;
	color:#d12f19;
}

.buttons a.negative:active{
	background-color:#d12f19;
	border:1px solid #d12f19;
	color:#fff;
}

p.announce {
	color:#777;
	font-size:16px;
	padding:10px;
	border:1px solid #aaa;
	margin:50px;
}

li.clean {

	margin: 0; 
	padding: 0; 
}

a img.clean {
	text-decoration:none;
	border:none;
}

.introicon {
	margin:-10px 10px 0 0;
	float:left;
}

.inline_edit input {
	border:1px solid #ccc;
	font-size:10px;
	padding:2px;
}

/* drop hover */
/* should have a background image: "drop here to remove this task" */

.drophover {
	background-image:url("http://static.indrode.com/5things/images/user-trash.png");
	background-position:480px 60px;
	background-repeat:no-repeat;
}


#blurb {
	float:left;
	margin-top:30px;
	width:350px;
}


#largecopy {
	width:485px;
	float:right;
	padding-left:40px;
	border-left:1px solid #909090;
}

#largecopy p {
	margin:0 0 10px 0;
	font-size:12px;
}

/* highlight */

.highlight {
	background-color:#fff5a5;
	padding:0 3px;
}

a.highlight {
	color:#ffff00;
	background:none;
}

#loader {
	width:16px;
	height:16px;
	float:left;
	margin-left:-22px;
}

#loader_new_unassigned, #loader_new_yesterday, #loader_new_today, #loader_new_tomorrow {
	margin-left:5px;
	margin-top:4px;
	width:16px;
	height:16px;
	float:left;
}


#loader.loading {
  background: url("http://static.indrode.com/5things/images/spinner.gif") no-repeat center center;
}

#loader_new_unassigned.loading, #loader_new_yesterday.loading, #loader_new_today.loading, #loader_new_tomorrow.loading {
	background: url("http://static.indrode.com/5things/images/spinner2.gif") no-repeat center center;
}

#home_link {
	float:left; color:#fff;
}

/* CSS sprites */

#iconmenu_description {
	float:left; 
	padding-top:8px;
	font-family:"titillium",Helvetica, Arial, sans-serif;
	
	font-size:13px;
	font-weight:normal;
}

#iconmenu_description h2, #iconmenu_description strong {
	font-family:"titillium",Helvetica, Arial, sans-serif;
	font-size:20px;
	text-align:left;
	border:0;
	margin:0;
	padding:0;
	color:#fff;
}

#iconmenu_description p {
	font-size:13px;
	font-weight:normal;
}

#iconmenu {
	position: relative; 
	float:right; 
	padding: 0; 
	width: 384px; 
	height: 0px;
	margin-top:6px;
}

#iconmenu li {
	height: 48px; 
	position: absolute; 
	top: 0; 
	background: url("http://static.indrode.com/5things/images/sprites.png") 0 0px no-repeat; 
	display: block; 
	list-style: none; 
	margin:0; 
	padding:0;
}

#iconmenu li span {
	display:none;
}

#iconmenu a {height: 48px; display: block; border: 0;}
#iconmenu a:hover {border: 0;}

#iconmenu #opt_refresh {width:40px; left: 0px;}
#iconmenu #opt_calendar {width:40px; left: 48px; background-position: -48px 0;}
#iconmenu #opt_achievements {width:40px; left: 96px; background-position: -96px 0;}
#iconmenu #opt_pdf {width:40px; left: 144px; background-position: -144px 0;}
#iconmenu #opt_export {width:40px; left: 192px; background-position: -192px 0;}
#iconmenu #opt_email {width:40px; left: 240px; background-position: -240px 0;}
#iconmenu #opt_feedback {width:40px; left: 288px; background-position: -288px 0;}
#iconmenu #opt_beer {width:40px; left: 336px; background-position: -336px 0;}

#iconmenu #opt_refresh a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") 0px -48px no-repeat;}
#iconmenu #opt_calendar a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -48px -48px no-repeat;}
#iconmenu #opt_achievements a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -96px -48px no-repeat;}
#iconmenu #opt_pdf a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -144px -48px no-repeat;}
#iconmenu #opt_export a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -192px -48px no-repeat;}
#iconmenu #opt_email a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -240px -48px no-repeat;}
#iconmenu #opt_feedback a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -288px -48px no-repeat;}
#iconmenu #opt_beer a:hover {width:40px; background: url("http://static.indrode.com/5things/images/sprites.png") -336px -48px no-repeat;}






/* jquery ui styles */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 10px; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }

.ui-widget-content { 

	}
	
.ui-widget-content a { 
	color: #333333; 
	}
	
.ui-widget-header { 
	border: 1px solid #292929; 
	font-weight: bold; 
	background-color:#444;	
	}
	
.ui-widget-header a { 
	color: #ffffff; 
	}


/* Interaction states
		- set list item height here
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url("http://static.indrode.com/5things/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x; font-weight: bold; color: #1c94c4; outline: none; min-height:10px; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url("http://static.indrode.com/5things/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x; font-weight: normal; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff url("http://static.indrode.com/5things/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }



/* datepicker style overrides */

#datepicker {

}

#datepicker_canvas {
	width:690px;
	margin:0 auto; 
}

#datepicker .ui-state-default {
	background:none;
	border:none;
	color:#fff;
	font-size:12px;
}

#datepicker .ui-state-default a {
	
}

#datepicker .ui-state-active {
	color:#fdf5ce;
}

#datepicker .ui-state-hover {
	background-color:#494949;
}


/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fed22f; background: #ffe45c url("http://static.indrode.com/5things/images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x; color: #363636; height:10px;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url("http://static.indrode.com/5things/images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #ffffff; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Datepicker
----------------------------------*/
.ui-datepicker { font-size:10px; width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:2px; }
.ui-datepicker .ui-datepicker-next-hover { right:2px; }


.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center;}
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* datepicker icons */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url("http://static.indrode.com/5things/images/ui-icons_222222_256x240.png"); }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto;}
.ui-datepicker-multi .ui-datepicker-group { float:left;}
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last { float:left;}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }


/* autocomplete */

/* Autocomplete
----------------------------------*/
.ui-autocomplete-menu { position: absolute; cursor: default; background-color:#eee; border:1px solid #555;}	
.ui-autocomplete-loading { background: white url("http://static.indrode.com/5things/images/spinner.gif") right center no-repeat; }
.ui-autocomplete-over { background-color: #0A246A; color: white; }





/* tasklists dropdown */

ul#dropdown, li#dropdown {
	margin:0; 
	padding:0; 
	list-style:none;
	position:absolute;
	top:28px; 
	box-shadow: 2px 2px 2px #222; 
	-webkit-box-shadow: 2px 2px 2px #222; 
	-moz-box-shadow: 2px 2px 2px #222;
}

#menu_head{
	font-size:13px; font-weight:bold; cursor:pointer;
	float:left; color:#fff; margin-top:2px; 	
	}

.menu_body {display:none; min-width:180px; max-width:500px; border:1px solid #998675;}
.menu_body li{background:#000; margin:0; padding:2px 5px; font-weight:normal; }
.menu_body li.alt{background:#000; margin:0; padding:2px 5px; }
.menu_body li.manage {margin:0; border-top:1px solid #777; font-weight:bold; background-color:#2a2a2a;}
.menu_body li a{color:#FFFFFF; text-decoration:none; margin:0; padding:3px; display:block;}
.menu_body li:hover {background:#444;}

.menu_count {
	float:right;
	color:#aaa;
	padding-left:10px;
}



/* tasklists table */

table#tasktable {
	margin:15px;padding:0;
	border-collapse: collapse;
	clear:both;
}

table#tasktable tr {
	border-bottom:1px solid #999;
}

table#tasktable tr:hover {
	background-color:#d0d0d0;
}


table#tasktable td {
	color:#000;
	font-size:12px;
	padding:5px 10px;
}

table#sharedtable td {
	color:#000;
	font-size:15px;
	padding:5px 10px;
	border-bottom:1px solid #555;
}

th.list {
	color:#000;
	font-size:12px;
	padding:5px 10px;
	font-weight:bold;
	border-bottom:1px solid #333;
	text-align:left;	
	background-image: url("http://static.indrode.com/5things/images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;

}

table#tasktable thead tr .headerSortUp {
	background-image: url("http://static.indrode.com/5things/images/asc.gif");
}
table#tasktable thead tr .headerSortDown {
	background-image: url("http://static.indrode.com/5things/images/desc.gif");
}





td.title, th.title {
	width:300px;
}

td.taskcount, th.taskcount {
	width:70px;
}

td.security, th.security {
	width:90px;
}

td.key, th.key {
	width:210px;
}

td.legend, th.legend {
	width:120px;
}


td.t_duedate, th.t_duedate {
	width:130px;
}


td.t_task, th.t_task {
	width:360px;
}


td.t_list, th.t_list {
	width:250px;
}

td.s_task, th.s_task {
	width:700px;
}

td.s_duedate, th.s_duedate  {
	width:150px;
}


tr.odd {
	xbackground-color:#eee;
	background-image:url("http://static.indrode.com/5things/images/transparent.png");
	
}




h1.formheader {
	font-family:Helvetica, Arial, sans-serif;
	font-size:22px;
	font-weight:normal;
	margin-bottom:5px;
}

.listheader {
	margin-top:20px;
}


#settings, #copies {    
  clear:both;
	margin: 0 0 60px 0;
	padding: 20px;
	padding-top:20px;
	border: 1px solid #BFBAB0;    
	
	background-image:url("http://static.indrode.com/5things/images/transparent.png");
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	box-shadow: 2px 2px 2px #222; 
	-webkit-box-shadow: 2px 2px 2px #222; 
	-moz-box-shadow: 2px 2px 2px #222;  
}



.tab {
	font-weight:bold;
	font-family:Verdana, sans-serif;
	background-image:url("http://static.indrode.com/5things/images/transparent.png");
	margin-right:5px;
	text-align:center;
	padding:5px 20px 5px 20px;
	float:right;
	font-size:12px;
	border: 1px solid #BFBAB0;    
	border-bottom:none;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
}

.tab:hover {
	background-color:#fff;
}

.current {
	font-weight:bold;
	background-color:#fff;
}

p.instructions {
	font-family: Georgia, serif; 
	font-size:16px; 
	color:#444;
	color:#000;
	line-height:1.8em;
}


/* input text fields */

input[type="text"], textarea {
	width:320px;
	font-size:15px;
	background-color:#eee;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
	padding:3px;
	border:1px solid #000;
	border-bottom:1px solid #bbb;
	border-right:1px solid #bbb;
}

textarea {
	height:115px;
}

input[type="password"], input[type="text"]#user_session_email, input[type="text"]#user_password, input[type="text"]#user_password_confirmation {
	width:250px;
	font-size:15px;
	background-color:#eee;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
	padding:3px;
	border:1px solid #000;
	border-bottom:1px solid #bbb;
	border-right:1px solid #bbb;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="text"]#user_session_email:focus, input[type="text"]#user_password:focus, input[type="text"]#user_password_confirmation:focus {
	background-color:#fff5a5;
}



div.fieldWithErrors {
	display:inline;
}


input.taskbox {
	width:192px;
	margin:10px 5px;
	border:1px solid #bbb;
	border-top:1px solid #888;
	border-left:1px solid #888;
	background-color:#fff;
	padding:3px;
	font-size:12px;
}






/* confirmation styles */


/* jqModal confirm CSS courtesy of;
   Alexandre Plennevaux <alexandre@pixeline.be>,
   Brice Burgess <bhb@iceburg.net> */

div.jqmConfirm { /* contains + positions the alert window */
  display: none;
  
  position: fixed;
  top: 17%;
  width: 100%;
}
    
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmConfirm {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmConfirmWindow {
  height:auto;
  width: auto;
  margin: auto;
  
  max-width:450px;
  padding: 0 10px 30px 0;
  
  background:#ccc;
  border:1px solid #000;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
}

.jqmConfirmTitle{
  background-image:url("http://static.indrode.com/5things/images/dialog-warning.png");
	background-repeat:no-repeat;
	margin:20px;
	padding-top:10px;
	padding-left:40px;
	height:32px;
	font-size:16px;
}


div.jqmConfirm .jqmClose em{display:none;}
div.jqmConfirm .jqmClose {
  width:20px;
  height:20px;
  display:block;
  float:right;
  clear:right;
}

div.jqmConfirm a.jqmClose:hover{ background-position: 0 -20px; }

div.jqmConfirmContent{
  margin:20px;
}

.jqmOverlay { background-color: #000; }

/*	clearing a float without additional markup
   	http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */




textarea.feedback {
	width:400px;
	height:80px;
	background-color:#aaa;
	padding:10px;
	color:#000;
	font-size:16px;
}


a.intro_link {
	padding:30px;
	font-size:30px;	
}



/* help message */

div.message{
	-moz-border-radius:4px;
	-webkit-border-radius:2px;
	float:left;
	padding:5px 20px 15px 20px;
	margin-bottom:40px;
	border:1px solid #787878;
	background-color:#fff5a5;}

div.message p {
	font-size:13px;
}
a.close {
	color:#aa0000;
	float:left;
	width:32px;
	height:32px;
	margin-bottom:-10px;margin-top:-20px;margin-left:-35px;
	background:url("http://static.indrode.com/5things/images/process-stop.png");
	text-indent:-9000px;
	font-size:1px;
}
