<div id="settings">
	<h1>HTTP Error 500 Internal Server Error</h1>
	<p>Panic!!! Major breakdown!</p>
</div>

<script type="text/javascript" src="http://www.linkpatch.com/monitor/7b03e76229932fd65f6cac1b881067bc16e59436/"></script>